.title{ 
    font-family: Kids;
    color: red;
    text-align: center;
}
.subtitle{ 
    font-family: Kids;
    color: white;
    text-align: center;
}
.IMG{
    display: block;
    border: 8px solid var(--color--blue);
    border-radius: 5px;
    margin: auto;
    width: 50%;
    height: 50%;
}
#link{
    margin: auto;
    font-weight: bold;
    border: 0;
    margin: 10px;
}
